@import "assets/css/bootstrap.min.rtl.css";
@import "assets/css/animate.min.css";
@import "assets/css/light-bootstrap-dashboard.rtl.css";
@import "assets/css/demo.rtl.css";
@import "fonts/font-awesome.min.css";
@import "assets/css/pe-icon-7-stroke.css";
/*@import "csselement.css";*/
@import "main.css";
@import "fonts/font-awesome.min.css";



ol,ul{
    padding-left:0px!important;
}

.el-form-item__content {
    margin-right: 0px !important;
}

input[type="file"] {
    display: none;
}

.UploadButton {
    margin-top: 27px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.Color-Code {
    display: inline-block;
    width: 20px;
    height: 20px;
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
    }
}

@media print {
    html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
     
    }
}

@media print {
    div {
        page-break-inside: avoid;
    }
}

.AddButton {
    float: left;
    margin-bottom: 16px;
}

.el-alert__title {
    font-size: 32px;
    line-height: 18px;
}

.el-alert {
    height: 92px;
}

.el-scrollbar__wrap {
    overflow: no-display;
}

@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('fonts/DroidKufi-Regular.eot') format('embedded-opentype'), url('fonts/DroidKufi-Regular.woff') format('woff'), url('fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DroidArabicKufiRegular';
}
