<div class="mailbox-view-area mg-tb-15">
    
    <add-Branches v-if="state==1"></add-Branches>

    <div class="container-fluid">

        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
            <div class="hpanel email-compose mailbox-view mg-b-15">
                <div class="panel-heading hbuilt">

                    <div class="p-xs h4">
                        <small class="pull-right">
                            {{contentInbox.timeConversation}}
                        </small> {{contentInbox.type}} <span class="badge badge-danger">{{contentInbox.priolti}}</span>

                    </div>
                </div>
                <div class="border-top border-left border-right bg-light">
                    <div class="p-m custom-address-mailbox">

                        <div style="margin-bottom:8px">
                            <span class="font-extra-bold">موضوع: </span> {{contentInbox.subject}}
                        </div>
                        <div style="margin-bottom:8px">
                            <span class="font-extra-bold">من: </span>
                            <a href="#">{{contentInbox.userName}}</a>
                        </div>
                        <div style="margin-bottom:8px">
                            <span class="font-extra-bold">التاريخ: </span> {{contentInbox.dateConversation}}
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-csm">
                    <div>
                        <h4>المحتوي : </h4>
                        <p style="padding:10px;line-height:40px;font-size:18px" v-html="contentInbox.subjectBody"></p>
                    </div>
                </div>
                <!--File Upload-->
                <div class="border-bottom border-left border-right bg-white mg-tb-15" v-if="contentInbox.attachmentDTOs !=0">
                    <p class="m-b-md">
                        <span><i class="fa fa-paperclip"></i> ملفات المرفقة </span>
                    </p>

                    <!--File Upload-->

                    <div class="row">
                        <div class="row box-footer">
                            <ul class="mailbox-attachments clearfix">
                                <template v-for="(item,index) in contentInbox.attachmentDTOs">
                                    <!--Image-->
                                    <li style="width: auto;">
                                        <span class="mailbox-attachment-icon has-img"></span>
                                        <div class="mailbox-attachment-info">
                                            <a href="#" class="mailbox-attachment-name">
                                                <i class="  attachment-margin fa fa-file"></i> {{item.fileName}}
                                            </a>
                                            <span class="mailbox-attachment-size">
                                                <a href="#" @click.prevent="downloadFile(item)" class="btn btn-default btn-xs pull-right">
                                                    <i class="fa fa-cloud-download"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </li>
                                </template>

                            </ul>
                        </div>
                    </div>

                    <!--/File Upload-->
                </div>
                <!-- End FileUpload-->
                <!-- Comments -->
                <template v-if="contentInbox.messageDTOs !=0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="comment-head">
                                <h3>الردود</h3>
                            </div>
                        </div>
                    </div>

                    <template v-for="(item,index) in contentInbox.messageDTOs">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="user-comment user-coment2">
                                    <!--<img src="../../../../../Img/User.png" alt="" class="img-circle">-->
                                    <img :src="`data:image/png;base64,${item.imageUser}`" alt="" class="img-circle">
                                    <div class="comment-details">
                                        <h4>
                                            {{item.userName}}
                                            <span class="comment-replay">{{item.dateTime}}</span>
                                        </h4>

                                        <p>
                                            {{item.subject}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </template>

                <!--/Comment-->
                <template v-if="contentInbox.replay">
                    <transition name="fade">
                        <div class="panel-footer text-center" style="margin-top:30px" v-show="replay==false">
                            <div class="btn-group">
                                <a href="#" @click.prevent="toggelReplay" class="btn btn-default btn-custom">
                                    <span style="font-size:16px">
                                        الـــــرد
                                    </span>
                                    <i class="fa fa-mail-reply"></i>
                                </a>
                            </div>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="row" style="margin-top:30px" v-show="replay==true">
                            <div class="col-md-12">
                                <el-card class="box-card">
                                    <div slot="header" class="clearfix">
                                        <span> رد علي الاعلان </span>
                                    </div>
                                    <div class="box-body">
                                        <el-input type="textarea" v-model="replayText"
                                                  resize="none"
                                                  :autosize="{ minRows: 5, maxRows: 5}"
                                                  placeholder="ادخل الرد">
                                        </el-input>
                                    </div>
                                    <div class="box-footer" style="margin:0px;padding:0px;padding-top:8px;padding-bottom:20px;">
                                        <div class="pull-right">
                                            <el-button @click.prevent="toggelReplay" type="danger" size="small" plain>
                                                <i class="el-icon-delete"></i> <span>  الغاء  </span>
                                            </el-button>
                                        </div>
                                        <div class="pull-left list-inline d-inline-block" style="margin-right:0px">
                                            <el-button @click="TestDataReplay" type="primary" size="small" style="margin-left:5px" plain>
                                                <i class="fa fa-send"></i> <span>  ارسال  </span>
                                            </el-button>
                                            <span style="margin-left:5px;display:none"><i class="fa fa-paperclip" style="font-size:20px"></i> </span>
                                            <span><i class="fa fa-image" style="font-size:20px;display:none"></i> </span>
                                        </div>
                                    </div>
                                    <div style="margin-top:8px"></div>
                                </el-card>
                            </div>
                        </div>
                    </transition>

                </template>






            </div>
        </div>
    </div>
</div>
 