<div class="sidebar" data-color="purple" data-background-color="white" data-image="/img/img/sidebar.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="" class="simple-text logo-normal">
            نـظام التــعميم
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            <li :class="menuFlag[0]" v-if="loginDetails.userType==1">
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p> الصفحة الرئيسية</p>
                </a>
            </li>

            <li :class="menuFlag[1]" v-if="loginDetails.userType==1">
                <a class="nav-link" href="#" @click.prevent="href('/Branches',1)">
                    <i class="fa fa-cogs"></i>

                    <p>‌إدارة المكاتب</p>
                </a>
            </li>
            <li :class="menuFlag[7]" v-if="loginDetails.userType==1||loginDetails.userType==2">
                <a class="nav-link" href="#" @click.prevent="href('/NewMessage',7)">
                    <i class="fa fa-envelope"></i>
                    <p>ارسال رسالة</p>
                </a>
            </li>
            <li :class="menuFlag[2]" v-if="loginDetails.userType==1||loginDetails.userType==2">


                <a class="nav-link" href="#" @click.prevent="href('/Inbox',2)">
                    <i class="fa fa-inbox"></i>
                    <p>صندوق الوارد    <b style="color:red; font-size:medium"> ({{UnReadCount}})</b></p>

                </a>
            </li>
            <li :class="menuFlag[3]" v-if="loginDetails.userType==1||loginDetails.userType==2">
                <a class="nav-link" href="#" @click.prevent="href('/Sent',3)">
                    <i class="material-icons">content_paste</i>
                    <p>صندوق المرسل</p>
                </a>
            </li>
            <li :class="menuFlag[8]" v-if="loginDetails.userType==1||loginDetails.userType==2">
                <a class="nav-link" href="#" @click.prevent="href('/Archive',8)">
                    <i class="fa fa-archive"></i>
                    <p>الإرشيف</p>
                </a>
            </li>
            <li :class="menuFlag[9]" v-if="loginDetails.userType==1||loginDetails.userType==2">
                <a class="nav-link" href="#" @click.prevent="href('/DeletedMessage',9)">
                    <i class="el-icon-delete"></i>
                    <p>الرسائل المحذوفة</p>
                </a>
            </li>
            <li :class="menuFlag[4]" v-if="loginDetails.userType==1">
                <a class="nav-link" href="#" @click.prevent="href('/MessageTypes',4)">
                    <i class="material-icons">library_books</i>
                    <p>نوع الرسالة</p>
                </a>
            </li>


            <li :class="menuFlag[5]" v-if="loginDetails.userType==1">
                <a class="nav-link" href="#" @click.prevent="href('/Users',5)">
                    <i class="fa fa-users"></i>
                    <p>
                        إدارة المستخدمين
                    </p>
                </a>
            </li>

            <li :class="menuFlag[10]" v-if="loginDetails.userType==1||loginDetails.userType==3">
                <a class="nav-link" href="#" @click.prevent="href('/ControlMessages',10)">
                    <i class="fa fa-cogs"></i>
                    <p>
                        مراقبه الرسائل
                    </p>
                </a>
            </li>

        </ul>
        <ul class="nav navbar-nav nav-mobile-menu">
           
            <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="d-lg-none d-md-block">
                        الحساب
                    </p>
                    <div class="ripple-container"></div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                    <a class="dropdown-item" href="/ChangePassword">    <i class="material-icons">person</i>تغير كلمه المرور</a>
                    <a class="dropdown-item" href="/EditUsersProfile">    <i class="material-icons">person</i>تعديل الملف الشخصي</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Security/Login"><i class="fa fa-sign-out" dir="ltr" title="تسجيل الخروج"></i>تسجيل الخروج</a>
                </div>
            </li>
        </ul>
    </div>
</div>
