


<div class="sidebar" data-color="azure" data-background-color="white" data-image="/img/img/sidebar.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo" style="padding: 15px 20px;">
        <a href="" class="simple-text logo-normal" dir="ltr">
             My School | لوحة التحكم
        </a>
    </div>
    <div class="sidebar-wrapper" >
        <div class="user">
            <!--<div class="photo">
                
                <img src="/assets/img/faces/avatar.jpg">
            </div>-->

            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username collapsed" aria-expanded="false">
                    <span style="padding-right: 10px;">
                        {{loginDetails.fullName.slice(0,20)}}
                        <b class="caret" style="    float: left;margin-top: 0px;position:relative;margin-left:35px"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click.prevent="href('/EditUsersProfile')">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> الصفحة الشخصية </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#" @click.prevent="href('/ChangePassword')">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> تغير كلمة المرور </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Security/Login" >
                                <span class="sidebar-mini"> LO </span>
                                <span class="sidebar-normal"> تسجيل الخروج </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            <li :class="menuFlag[0]">
                <a class="nav-link" href="#" @click.prevent="href('/',0)">
                    <i class="material-icons">dashboard</i>
                    <p> الصفحة الرئيسية</p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#StudentInfo">
                    <!--<i class="material-icons">place</i>-->
                    <i class="fa fa-users"></i>
                    <p>
                        إدارة بيانات الطلبة
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="StudentInfo">
                    <ul class="nav">
                        <li :class="menuFlag[1]">
                            <a class="nav-link" href="#" @click.prevent="href('/Student',1)">
                                <i class="fa fa-users"></i>

                                <p>عرض بيانات الطلبة </p>
                            </a>
                        </li>
                        <li :class="menuFlag[2]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddStudent',2)">
                                <i class="fa fa-users"></i>

                                <p>إضافة بيانات طالب</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Presness Info-->
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
                    <!--<i class="material-icons">place</i>-->
                    <i class="material-icons">event_available</i>
                    <p>
                        الحضور والإنصراف
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="mapsExamples">
                    <ul class="nav">
                        <li :class="menuFlag[3]">
                            <a class="nav-link" href="#" @click.prevent="href('/Presness',3)">
                                <i class="material-icons">event_available</i>

                                <p>عرض الحضور والإنصراف </p>
                            </a>
                        </li>
                        <li :class="menuFlag[4]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddPresness',4)">
                                <i class="material-icons">event_available</i>

                                <p>تسجيل الحضور</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--Presness Info-->
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#homeWorck">
                    <!--<i class="material-icons">place</i>-->
                    <i class="material-icons">book</i>
                    <p>
                        الواجبات الدراسية
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="homeWorck">
                    <ul class="nav">
                        <li :class="menuFlag[5]">
                            <a class="nav-link" href="#" @click.prevent="href('/HomeWorcks',5)">
                                <i class="material-icons">book</i>

                                <p>عرض الواجبات الدراسية </p>
                            </a>
                        </li>
                        <li :class="menuFlag[6]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddHomeWorck',6)">
                                <i class="material-icons">book</i>

                                <p>إضافة واجب دراسي</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#exam">
                    <!--<i class="material-icons">place</i>-->
                    <i class="material-icons">file_copy</i>
                    <p>
                        الإختبارات
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="exam">
                    <ul class="nav">
                        <li :class="menuFlag[7]">
                            <a class="nav-link" href="#" @click.prevent="href('/Exam',7)">
                                <i class="material-icons">file_copy</i>

                                <p>عرض الإختبارات </p>
                            </a>
                        </li>
                        <li :class="menuFlag[8]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddExam',8)">
                                <i class="material-icons">file_copy</i>

                                <p>إضافة إختبار</p>
                            </a>
                        </li>
                        <li :class="menuFlag[9]">
                            <a class="nav-link" href="#" @click.prevent="href('/Grids',9)">
                                <i class="material-icons">file_copy</i>

                                <p>رصد الدرجات</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#Skedjule">
                    <!--<i class="material-icons">place</i>-->
                    <i class="material-icons">date_range</i>
                    <p>
                        الجدول الدراسي
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="Skedjule">
                    <ul class="nav">
                        <li :class="menuFlag[10]">
                            <a class="nav-link" href="#" @click.prevent="href('/Skedjule',10)">
                                <i class="material-icons">date_range</i>

                                <p>عرض الجدول الدراسي </p>
                            </a>
                        </li>
                        <li :class="menuFlag[11]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddSkedjule',11)">
                                <i class="material-icons">date_range</i>

                                <p>إضافة جدول دراسي </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#Degrees">
                    <!--<i class="material-icons">place</i>-->
                    <i class="material-icons">poll</i>
                    <p>
                        الصحائف الشهرية
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="Degrees">
                    <ul class="nav">
                        <li :class="menuFlag[16]">
                            <a class="nav-link" href="#" @click.prevent="href('/Degreess',16)">
                                <i class="material-icons">poll</i>

                                <p>عرض الصحائف الشهرية </p>
                            </a>
                        </li>
                        <li :class="menuFlag[17]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddDegreess',17)">
                                <i class="material-icons">poll</i>

                                <p>إضافة صحيفة شهرية </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#parents">
                    <i class="material-icons">people_alt</i>
                    <p>
                        إدارة اولياء الامور
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="parents">
                    <ul class="nav">
                        <li :class="menuFlag[14]">
                            <a class="nav-link" href="#" @click.prevent="href('/Parents',14)">
                                <i class="material-icons">people_alt</i>

                                <p>عرض بيانات اولياء الامور </p>
                            </a>
                        </li>
                        <li :class="menuFlag[15]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddParents',15)">
                                <i class="material-icons">people_alt</i>

                                <p>إضافة ولي امر </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#user">
                    <!--<i class="material-icons">place</i>-->
                    <i class="fa fa-users"></i>
                    <p>
                        إدارة المستخدمين
                        <b class="caret" style="    float: left;position:relative;"></b>
                    </p>
                </a>
                <div class="collapse" id="user">
                    <ul class="nav">
                        <li :class="menuFlag[12]">
                            <a class="nav-link" href="#" @click.prevent="href('/Users',12)">
                                <i class="fa fa-users"></i>

                                <p>عرض بيانات المستخدمين </p>
                            </a>
                        </li>
                        <li :class="menuFlag[13]">
                            <a class="nav-link" href="#" @click.prevent="href('/AddUsers',13)">
                                <i class="fa fa-users"></i>

                                <p>إضافة مستخدم </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li :class="menuFlag[30]">
                <a class="nav-link" href="#" @click.prevent="href('/Usersd',30)">
                    <i class="fa fa-cogs"></i>
                    <p>
                        إعدادات النظام 
                    </p>
                </a>
            </li>

        </ul>
    </div>
</div>
