<div class="content">
    <add-MessageTypes v-if="state==1"></add-MessageTypes>
    <edit-MessageTypes v-if="state==2"></edit-MessageTypes>

    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-3">
               
            </div>
            <div class="col-md-9">
                <div class="row addButton">
                    <button @click.prevent="RedirectToAddComponent()"
                            class="btn btn-primary pull-right">
                        إضـافة نوع الرسالة
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">عــرض بيانات نوع الرسالة</h4>
                        <p class="card-category"> هذه الصفحه خاصه بالعمليات علي نوع الرسالة من عرض واضافه وتعديل</p>
                    </div>
                    <div class="row">

                        <div class="col-md-10">
                            <div class="form-group" v-if="MessageType==0">
                                <br /><br />
                                <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات لأنواع الرسائل"
                                          type="info">
                                </el-alert>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" v-if="MessageType!=0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>
                                    رقم#
                                </th>
                                <th>
                                    الأسـم
                                </th>
                                <th>
                                    المعـلومات
                                </th>
                                <th>
                                    تــاريخ الأنشاء
                                </th>
                                <th>
                                    العمليات
                                </th>
                                </thead>
                                <tbody>
                                    <tr v-for="msg,index in MessageType">
                                        <td>{{index+1}}</td>
                                        <td>{{msg.name}}</td>
                                        <td dir="ltr">{{msg.description}}</td>
                                        <td dir="ltr">{{msg.createdOn | moment}}</td>

                                        <td>

                                            <a href="#" @click.prevent="EditMessageType(msg)">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>

                                            <a href="#" @click.prevent="DeleteMessageType(msg.messageTypeId)">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetMessageTypes($event)">
                                </el-pagination>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

