<div class="content">
    <add-Branches v-if="state==1"></add-Branches>
    <edit-Branches v-if="state==2"></edit-Branches>

    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-3">
                <el-select style="width: 100%;"
                           filterable placeholder="نـوع المكتب"
                           v-model="permissionModale"
                           @change="GetBranches()">

                    <el-option v-for="item in permissions"
                               :key="item.id"
                               :label="item.name"
                               :value="item.id">
                    </el-option>
                </el-select>
            </div>
            <div class="col-md-9">
                <div class="row addButton">
                    <button @click.prevent="RedirectToAddComponent()"
                            v-if="permissionModale!=0" class="btn btn-primary pull-right">
                        إضـافة إدارة مكتب
                    </button>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">عــرض بيانات المكاتب</h4>
                            <p class="card-category"> هذه الصفحه خاصه بالعمليات علي ادارة المكاتب من عرض واضافه وتعديل</p>
                        </div>
                        <div class="row">

                            <div class="col-md-10">
                                <div class="form-group" v-if="Branches==0">
                                    <br /><br />
                                    <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات للإدارات أو الفروع"
                                              type="info">
                                    </el-alert>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" v-if="Branches!=0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                    <th>
                                        رقم#
                                    </th>
                                    <th>
                                        الأسـم
                                    </th>
                                    <th>
                                        نوع المكتب
                                    </th>
                                    <th>
                                        المعـلومات
                                    </th>
                                    <th>
                                        تــاريخ الأنشاء
                                    </th>
                                    <th>
                                        العمليات
                                    </th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="branch,index in Branches">
                                            <td>{{index+1}}</td>
                                            <td>{{branch.name}}</td>
                                            <td>
                                                <span v-if="branch.branchLevel!=0">
                                                    {{permissions[branch.branchLevel].name}}
                                                </span>
                                                <span v-if="branch.branchLevel==0">
                                                    لايوجد
                                                </span>
                                            
                                            </td>
                                            <td dir="ltr">{{branch.description}}</td>
                                            <td dir="ltr">{{branch.createdOn | moment}}</td>

                                            <td>

                                                <a href="#" @click.prevent="EditBranch(branch)">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>

                                                <a href="#" @click.prevent="DeleteBranch(branch.branchId)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align: center; margin-top: 10px;">

                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="GetBranches($event)">
                                    </el-pagination>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

