<div class="content">
    <MassageDetals v-if="state==1"></MassageDetals>
    <div class="container-fluid" v-if="state==0">

        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-primary">

                        <h4 class="card-title ">الصندوق الوارد </h4>

                        <p class="card-category"> الصندوق الوارد </p>

                    </div>

                    <div class="row">

                        <div class="col-md-10">

                            <div class="form-group" v-if="Massages==0">

                                <br /><br />

                                <el-alert style="font-size: 35px;" title="ليس لديك أي رسائل صادرة "
                                          type="info">
                                </el-alert>

                            </div>

                        </div>

                    </div>

                    <div class="card-body" v-if="Massages!=0">
                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                    

                                    <tr class="TableRow" v-for="massages,index in Massages" v-bind:class="{unread:massages.status==2 || massages.status==4 || massages.status==5 || massages.status==6}">

                                            <td v-if="massages.status==1 || massages.status==3 || massages.status==5 || massages.status==6">
                                                <a href="#" @click.prevent="ChangeMassageStatus(massages,2)">
                                                    <i class="el-icon-star-on"></i>
                                                </a>
                                            </td>

                                            <td v-if="massages.status==0 || massages.status==2 || massages.status==4 || massages.status==7">
                                                <a href="#" @click.prevent="ChangeMassageStatus(massages,1)">
                                                    <i class="el-icon-star-off"></i>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" @click.prevent="MassageDetals(massages)">
                                                    <i>{{massages.sentName}}</i>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" @click.prevent="MassageDetals(massages)">
                                                    <i><span class="badge badge-info">{{massages.priolti}}</span></i>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" @click.prevent="MassageDetals(massages)">
                                                    <i>{{massages.subject}}</i>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" @click.prevent="MassageDetals(massages)">
                                                    <i>{{massages.adType}}</i>
                                                </a>
                                            </td>

                                            <td></td>
                                            <td></td>


                                            <td v-if="massages.status==2 || massages.status==4 || massages.status==5 || massages.status==6">
                                                <a href="#" @click.prevent="ChangeMassageStatus(massages,4)">
                                                    <i class="el-icon-view" style="font-size:20px" title="تحديد كغير مقرؤة"></i>
                                                </a>
                                            </td>

                                            <td v-if="massages.status==0 || massages.status==1 || massages.status==3 || massages.status==7">
                                                <a href="#" @click.prevent="ChangeMassageStatus(massages,3)">
                                                    <i class="fa fa-eye-slash" style="font-size:20px" title="تحديد كمقرؤة"></i>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" @click.prevent="ChangeMassageStatus(massages,5)">
                                                    <i class="fa fa-archive" style="font-size:20px" title="إضافة للإرشيف"></i>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" @click.prevent="DeleteMassage(massages)">
                                                    <i class="el-icon-delete" style="font-size:20px" title="إزالة"></i>
                                                </a>
                                            </td>

                                            <td>
                                                <a href="#" @click.prevent="MassageDetals(massages)">
                                                    <i>{{massages.createdOn | moment}}</i>
                                                </a>
                                            </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetMassages($event)">
                                </el-pagination>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

