<div class="wrapper contact-page" data-gr-c-s-loaded="true">
    <div class="contactus-3">
        <div class="page-header">
            <img
                class="bg-image"
                src="/assets/img/ill/bg_contactus3.svg"
                alt=""
            />
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-12 text-center mb-5">
                    <h1 class="display-1">Got a question?</h1>
                    <h3 class="lead">
                        We'd like to talk more about what you need
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div
                            class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary"
                        >
                            <i class="ni ni-square-pin"></i>
                        </div>
                        <h4 class="info-title">Address</h4>
                        <p class="description px-0">
                            Tripoli, Libya
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div
                            class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary"
                        >
                            <i class="ni ni-email-83"></i>
                        </div>
                        <h4 class="info-title">Email</h4>
                        <p class="description px-0">info@codeexperts.ly</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div
                            class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary"
                        >
                            <i class="ni ni-mobile-button"></i>
                        </div>
                        <h4 class="info-title">Phone</h4>
                        <p class="description px-0">+218911019111</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div
                            class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary"
                        >
                            <i class="ni ni-circle-08"></i>
                        </div>
                        <h4 class="info-title">Contact</h4>
                        <p class="description px-0">Code Expert Team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row mt-5 mb-4 pt-5">
                <div class="col-md-8 ml-auto mr-auto text-center mt-5">
                    <span class="badge badge-info">Leave a message</span>
                    <h1 class="title">Tell us more about <b>yourself</b></h1>
                    <h4 class="desc">
                        Whether you have questions or you would just like to say
                        hello, contact us.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto ">
                    <form
                        role="form"
                        class="card bg-secondary p-3"
                        id="contact-form"
                        method="post"
                    >
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First name</label>
                                        <div
                                            class="input-group input-group-alternative"
                                        >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    ><i
                                                        class="ni ni-circle-08"
                                                    ></i
                                                ></span>
                                            </div>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="First Name..."
                                                aria-label="First Name..."
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <div
                                            class="input-group input-group-alternative"
                                        >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"
                                                    ><i class="ni ni-tag"></i
                                                ></span>
                                            </div>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Last Name..."
                                                aria-label="Last Name..."
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                <div
                                    class="input-group input-group-alternative"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            ><i class="ni ni-email-83"></i
                                        ></span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Email Here..."
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Your message</label>
                                <textarea
                                    name="message"
                                    class="form-control form-control-alternative"
                                    id="message"
                                    rows="6"
                                ></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ml-auto">
                                    <button
                                        type="submit"
                                        class="btn btn-primary pull-right"
                                    >
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>