<!--<div>

    <app-header></app-header>
    <div class="sidebar" data-color="black" data-image="../../../Content/Images/download.jpg">
           <img class="sidebar" src="../../../Content/Images/download.jpg" />

    <app-dasboard></app-dasboard>

       </div>


    <router-view></router-view>

</div>-->

    <div class="wrapper ">
        <app-dasboard></app-dasboard>
        <div class="main-panel">
            <app-header></app-header>
            <router-view></router-view>
        </div>

        </div>

