<main class="app-content">

    <add-Users v-if="state==1"></add-Users>
    <edit-Users v-if="state==2"></edit-Users>

    <!--TITLE-->
    <div class="app-title" v-if="state==0">

        <div>

            <h1><i class="fa fa-users" style="font-size:25px;margin-left:15px"></i> إدارة المستخدمين</h1>

        </div>

    </div>

    <div class="row" v-if="state==0">

        <div class="col-md-12">

            <div class="tile">

                <div class="tile-body">
                    <br />

                    <!--Select/Add User-->
                    <div class="row">

                        <div class="col-md-3">

                            <div class="form-group">

                                <el-select style="width: 100%;"
                                           filterable placeholder="الصلاحية"
                                           v-model="permissionModale"
                                           @change="GetBranches()">

                                    <el-option v-for="item in permissions"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>

                                </el-select>

                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="form-group">

                                <el-select style="width: 100%;"
                                           v-if="permissionModale!=0"
                                           filterable :placeholder="branchesPlaceholder"
                                           v-model="BrancheModel"
                                           @change="GetUserByBranch()">

                                    <el-option v-for="item in Branches"
                                               :key="item.branchId"
                                               :label="item.name"
                                               :value="item.branchId">
                                    </el-option>

                                </el-select>

                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="form-group">

                                <el-button type="primary"
                                           class="btn btn-primary"
                                           @click.prevent="AddUser()"
                                           v-if="BrancheModel!=0">

                                    إضافة مستخدم

                                </el-button>

                            </div>

                        </div>

                    </div>

                    <!--Now User Alert-->
                    <div class="row" v-if="Users==0">

                        <div class="col-md-10">

                            <div class="form-group">

                                <br /><br />
                                <br /><br />

                                <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات للمستخدمين"
                                          type="info">

                                </el-alert>

                            </div>

                        </div>

                    </div>

                    <!--Table Users Info-->
                    <div class="row">

                        <div class="col-md-12">

                            <br /><br />
                            <div class="content table-responsive bootstrap-switch-info"
                                 style="margin-top:35px" v-if="Users!=0">

                                <table class="table table-hover table-striped" style="text-align:center">

                                    <thead style="text-align:center" >

                                        <tr>
                                            <th style="text-align:center">
                                                الاسم
                                            </th>

                                            <th style="text-align:center">
                                                إسم الدخول
                                            </th>

                                            <th style="text-align:center">
                                                تاريخ الميلاد
                                            </th>

                                            <th style="text-align:center">
                                                الصلاحية
                                            </th>

                                            <th style="text-align:center">
                                                الإعدادت
                                            </th>

                                        </tr>

                                    </thead>

                                    <tbody style="text-align:center">

                                        <tr v-for="User in Users">

                                            <td>{{User.fullName}}</td>
                                            <td dir="ltr">{{User.loginName}}</td>
                                            <td dir="ltr">{{User.dateOfBirth | moment}}</td>
                                            <td dir="ltr">{{User.branchName}}</td>

                                            <td>

                                                <a href="#" @click.prevent="EditUser(User)">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </a>

                                                <a href="#" @click.prevent="DeleteUser(User.userId)">
                                                    <i class="fa fa-remove" title="حدف"></i>
                                                </a>

                                                <a href="#" v-if="User.status==1" @click.prevent="DeactivateUser(User.userId)">
                                                    <i class="fa fa-lock" title="ايقاف"></i>
                                                </a>

                                                <a href="#" v-if="User.status==2 || User.status==0" @click.prevent="ActivateUser(User.userId)">
                                                    <i class="fa fa-unlock" title="تفعيل"></i>
                                                </a>
                                            </td>


                                        </tr>

                                    </tbody>

                                </table>

                                <div style="text-align: center; margin-top: 10px;">

                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="FillDetalsTable($event)">
                                    </el-pagination>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div> 

</main>
