@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!DOCTYPE html>
<html class="ltr" style="overflow:visible">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="AHMED BEN SUILMAN | 911111517">
    <meta name="csrf-token" content="@GetAntiXsrfRequestToken()">
    @*<link rel="shortcut icon" href="~/img/clogo.jpg" type="image/x-icon">*@
    <title>Smart-Education</title>

    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" id="vueui" href="~/css/vueui.css" asp-append-version="true" />

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon.ico">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <!--===============================================================================================-->

    <script>
                                            //var v = navigator.userAgent.match(/Chrome\/(\S+)/);
                                            //var res = v ? v[1] : 0;
                                            //if (parseInt(res) < 50) {
                                            //    location.replace('/Security/Unsupported');
                                            //}
    </script>
</head>
<body  style="overflow:hidden;">

    <div id="applogin">

    </div>

    <script src="~/js/manifest.js" asp-append-version="true"></script>
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
    

</body>
</html>

