<div class="content">

        <div class="row">

            <div class="col-md-10 ml-auto mr-auto">

                <div class="card" style="height:auto">

                    <div class="card-header card-header-primary">

                        <div class="row">

                            <div class="col-sm-1">

                                <img style="width:60px;height:60px" :src="'http://localhost:4810/Api/Admin/User/' + MassageDetals.sent[0].sentBy + '/image'" />

                            </div>

                            <div class="col-sm">

                                <h4 style="display:block;position:relative;top:20px;">من: {{MassageDetals.sent[0].name}} </h4>

                            </div>

                            <div class="col-md-3" style="display:block;position:relative;top:20px;left:20px">
                                <h4>
                                    التاريخ: {{MassageDetals.createdOn | moments}} 
                                    <br />
                                    التوقيت: {{MassageDetals.createdOn | moment }}
                                </h4>

                                <i class="" style="font-size:20px;color:white;margin-right:10px"></i>
                             

</div>

                        </div>

                    </div>



                    <div class="row">

                        <div class="card-body">

                            <div class="col-sm-12">
                                <h4 style="display:block;position:relative;top:20px;">الموضوع:</h4>
                                <h4 style="display:block;position:relative;top:20px;">{{MassageDetals.subject}}</h4>

                            </div>

                        </div>

                        <div class="card-body">

                            <div class="col-sm-12">
                                <h4 style="display:block;position:relative;top:20px;">الي:</h4>
                                <h4 style="display:block;position:relative;top:20px;" v-for="Received in MassageDetals.sent">{{Received.fullName}}</h4>

                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="card-body">

                            <div class="col-sm-12">
                                <h4 style="display:block;position:relative;top:20px;">المحتوي</h4>
                                <h4 style="display:block;position:relative;top:20px;" v-html="MassageDetals.bodyWithHtml"></h4>
                                <br /><br />
                                <hr />
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="card-body">

                            <div class="col-sm-12">
                                <h4 style="display:block;position:relative;top:20px;">عدد الرسائل التي لم يتم الاطلاع عليها:</h4>
                                <h4 style="display:block;position:relative;top:20px;">{{countSeen}}</h4>

                            </div>

                        </div>

                        <div class="card-body">

                            <div class="col-sm-12">
                                <h4 style="display:block;position:relative;top:20px;">عدد الرسائل التي تم قراءتها :</h4>
                                <h4 style="display:block;position:relative;top:20px;">{{countRead}}</h4>

                            </div>

                        </div>

                        <div class="card-body">

                            <div class="col-sm-12">
                                <h4 style="display:block;position:relative;top:20px;">عدد الرسائل  غير مقروء:</h4>
                                <h4 style="display:block;position:relative;top:20px;">{{countUnRead}}</h4>

                            </div>

                        </div>
                    </div>


                    <div class="row" v-if="Attachment!=0">
                        <br />
                        <div class="card-body">

                            <div class="col-md-12">

                                <h4 style="display:block;position:relative;top:20px;">المرفقات</h4>
                                <br />
                            </div>

                        </div>

                    </div>

                    <div class="row" v-if="Attachment!=0" style="margin-right:20px">



                        <template v-for="(Attachment,index) in Attachment">



                            <div class="col-sm-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="hpanel">
                                    <div class="panel-body file-body incon-ctn-view">
                                        <a href="#" @click.prevent="downloadFile(Attachment)">
                                            <i class="fa fa-cloud-download" style="margin-right:5px;
                                            font-size:33px;color:blueviolet"></i>
                                        </a>
                                    </div>
                                    <div class="panel-footer">

                                        <a href="#" @click.prevent="downloadFile(Attachment)">
                                            <span style="font-size:15px;margin-right:10px">
                                                {{Attachment.fileName}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>



                        </template>





                    </div>

                    <div class="row">

                        <div class="col-md-10">

                            <div class="form-group" v-if="Replayes==0 && MassageDetals.is_Replay==true">

                                <br /><br />

                                <el-alert style="font-size: 35px;" title="لا توجد اي ردود"
                                          type="info">
                                </el-alert>

                            </div>

                        </div>

                    </div>

                    <div class="row" v-if="Replayes!=0">
                        <br />
                        <div class="card-body">

                            <div class="col-md-12">

                                <h4 style="display:block;position:relative;top:20px; color:red">الردود</h4>

                            </div>

                        </div>

                    </div>

                    <div class="card-body" v-if="Replayes!=0&&MassageDetals.is_Replay==true">
                        <div class="table-responsive">
                            <table class="table">

                                <tbody class="TablesReplay">


                                    <tr class="TableRow" v-for="Replayes,index in Replayes">

                                        <td style="margin-top:5px">
                                            <div class="row">

                                                <div class="col-sm-1">

                                                    <img style="width:60px;height:60px" :src="'http://localhost:4810/Api/Admin/User/' + Replayes.authorId + '/image'" />

                                                </div>

                                                <div class="col-sm-5">

                                                    <h4 style="display:block;position:relative;top:20px;">{{Replayes.sentName}}</h4>
                                                    <h4 style="display:block;position:relative;top:18px;font-size:11px">{{Replayes.dateTime | moment}}</h4>

                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="col-sm-1">

                                                </div>

                                                <div class="col-md-10">
                                                    <hr />
                                                    <h4 style="display:block;position:relative;top:20px;">{{Replayes.subject}}</h4>
                                                    <br />


                                                </div>

                                            </div>

                                            <br />
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;" v-if="Replayes!=0">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetMassages($event)">
                                </el-pagination>

                            </div>
                        </div>

                    </div>

                    <br />

                    <el-row class="row">
                        <el-col class="col-12">

                            <div class="tile-footer" style="margin-left:10px">
                                <button class="btn btn-danger" @click.prevent="Back()">رجوع</button>

                            </div>
                        </el-col>
                    </el-row>
                    <br />


                    <!--<el-row class="row">
        <el-col class="col-md-12">


            <el-form-item prop="content">
                <quill-editor v-model="content"
                              ref="myQuillEditor"
                              :options="editorOption" style=" height: 150px;" />
            </el-form-item>

            <el-input type="textarea"
                      :autosize="{ minRows: 2, maxRows: 4}"
                      placeholder="Please input"
                      v-model="textarea2">
            </el-input>

        </el-col>

    </el-row>

    <el-row class="row">
        <el-col class="col-md-12">
        </el-col>
    </el-row>

    <el-row class="row">
        <el-col class="col-12">

            <div class="tile-footer" style="margin-top: 8%;">
                <button class="btn btn-danger" @click.prevent="Back()">رجوع</button>
                <button class="btn btn-primary" @click.prevent="Save('ruleForm')">حفظ</button>
            </div>
        </el-col>
    </el-row>-->




                </div>

            </div>

        </div>

</div>

