



<div class="content">



    <div class="row" v-if="state==1">

        <div class="col-md-12">

            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">ارسال رسالة </h4>
                    <p class="card-category"> هذه الصفحه خاصه بالعملية ارسال رسالة</p>
                </div>


                <div class="card-body">
                    <div class="table-responsive">
                        <el-form :model="ruleForm"  :rules="rules" ref="ruleForm" label-position="top" label-width="120px" class="demo-ruleForm">

                            <el-row class="row">

                                <el-col class="col-md-4">

                                  
                                    <el-form-item label="مرسل الي" prop="selectedusers">
                                        <el-select v-model="ruleForm.selectedusers" multiple filterable remote reserve-keyword
                                                   placeholder="مرسل الي"
                                                   :remote-method="remoteMethod"
                                                  
                                                   style="width:100%">
                                            <el-option v-for="user in users"
                                                       :key="user.userId"
                                                       :label="user.userName"
                                                       :value="user.userId">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>


                                </el-col>

                                <el-col class="col-md-4">



                                    <el-form-item label=" عنوان التعميم" prop="subject">
                                        <el-input v-model="ruleForm.subject"></el-input>
                                    </el-form-item>


                                </el-col>
                                <el-col class="col-md-4">



                                    <el-form-item label=" نوع التعميم" prop="type">


                                        <el-select v-model="ruleForm.type" placeholder="نوع التعميم">
                                            <el-option v-for="item in types"
                                                       :key="item.adTypeId"
                                                       :label="item.adTypeName"
                                                       :value="item.adTypeId">
                                            </el-option>
                                        </el-select>

                                    </el-form-item>


                                </el-col>
                            </el-row>


                            <el-row class="row">

                                <el-col class="col-md-4">


                                    <el-form-item label=" قابلية الرد " prop="replay" >
                                        <el-switch v-model="ruleForm.replay"
                                                   active-color="#009688">
                                        </el-switch>
                                    </el-form-item>
                                </el-col>

                                <el-col class="col-md-4">

                                    <el-form-item label=" اهمية " prop="priorityint" >
                                        <el-rate v-model="priorityint"
                                                 :texts="[' عادي ', ' متوسط ', ' مهم ']"
                                                 :colors="['#009688', '#FF0000']"
                                                 :max=3
                                                 show-text>
                                        </el-rate>
                                    </el-form-item>


                                </el-col>

                                <el-col class="col-md-4">

                                    <el-form-item label=" طريقة الارسال " prop="checkOptions" >
                                        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange"><span style="margin-right:5px;">الكل</span></el-checkbox>
                                        <div style="margin: 15px 0;"></div>
                                        <el-checkbox-group v-model="checkOptions" @change="handleCheckedOptionChange">
                                            <el-checkbox v-for="option in options" :label="option" :key="option"><span style="margin-right:5px;">{{option}}</span></el-checkbox>
                                        </el-checkbox-group>
                                    </el-form-item>


                                </el-col>

                            </el-row>


                            <el-row class="row">

                                <el-col class="col-md-12">


                                    <el-form-item label=" اضافة ملف ">


                                        <el-upload action="#"
                                                   list-type="picture-card"
                                                   :on-preview="handlePictureCardPreview"
                                                   :on-remove="handleRemove"
                                                   :auto-upload="false"
                                                   accept="image/*,.pdf,.xlsx,.docx"
                                                   :on-change="FileChanged"
                                                   ref="upload"
                                                   type="file">

                                            <i class="el-icon-plus"></i>
                                        </el-upload>
                                        <el-dialog :visible.sync="dialogVisible">
                                            <img width="100%" :src="ruleForm.dialogImageUrl" alt="">
                                        </el-dialog>
                                    </el-form-item>


                                </el-col>




                            </el-row>
                            <el-row class="row">
                                <el-col class="col-md-12">


                                    <el-form-item prop="content">
                                        <quill-editor v-model="ruleForm.content"
                                                      ref="myQuillEditor"
                                                      :options="editorOption" style=" height: 150px;

" />
                                    </el-form-item>
                                </el-col>

                            </el-row>

                            <el-row class="row">
                                <el-col class="col-md-12">
                                    </el-col>
                            </el-row>

                            <el-row class="row">
                                <el-col class="col-12">

                                    <div class="tile-footer" style="margin-top: 8%;">
                                        <button class="btn btn-danger" @click.prevent="Back()">رجوع</button>
                                        <button class="btn btn-primary" @click.prevent="Save('ruleForm')">حفظ</button>
                                    </div>
                                </el-col>
                            </el-row>






                        </el-form>

                    </div>

                </div>
            </div>

        </div>

    </div>


</div>