

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">إضافة محاضرة </h4>
                    <p class="card-category"> من خلال هذه الواجهة يمكن إضافة بيانات محاضرة </p>
                </div>


                <div class="card-body">

                    <div class="table-responsive">

                        <el-form :model="ruleForm" ref="ruleForm" label-position="top" label-width="120px" class="demo-ruleForm">
                            <!--Email / Gender / DateOfBirth-->

                            <el-row class="row">


                                <el-col class="col-md-4">


                                    <el-form-item prop="yearSelectedId" label="السنة الدراسية"
                                                  label-width="0px"
                                                  :rules="[{required: true, message: ' الرجاء إختيار السنة الدراسية'} ]">

                                        <el-select v-model="ruleForm.yearSelectedId"
                                                   style="    width: 100%;"
                                                   @change="getSubject()"
                                                   filterable placeholder="السنة الدراسية ">

                                            <el-option v-for="item in year"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>

                                        </el-select>

                                    </el-form-item>


                                </el-col>

                                <el-col class="col-md-4">


                                    <el-form-item prop="subjectSeletect" label="المادة الدراسية"
                                                  label-width="0px"
                                                  :rules="[{required: true, message: ' الرجاء إختيار المادة الدراسية'} ]">

                                        <el-select v-model="ruleForm.subjectSeletect"
                                                   style="    width: 100%;"
                                                   @change="getShapterName()"
                                                   filterable placeholder="السنة الدراسية ">

                                            <el-option v-for="item in SubjectName"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>

                                        </el-select>

                                    </el-form-item>


                                </el-col>

                                <el-col class="col-md-4">


                                    <el-form-item prop="shapterSelected" label="الشابتر"
                                                  label-width="0px"
                                                  :rules="[{required: true, message: ' الرجاء إختيار الشابتر'} ]">

                                        <el-select v-model="ruleForm.shapterSelected"
                                                   style="    width: 100%;"
                                                   filterable placeholder="الشابتر ">

                                            <el-option v-for="item in shapterName"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>

                                        </el-select>

                                    </el-form-item>


                                </el-col>

                            </el-row>

                            <el-row class="row">

                                <div class="col-md-6">

                                    <div class="form-group">


                                        <el-form-item prop="Number" label="رقم المحاضرة"
                                                      label-width="0px"
                                                      :rules="[{ required: true, message: 'الرحاء إدخال رقم المحاضرة'} ]">

                                            <el-input type="name"
                                                      placeholder="رقم المحاضرة"
                                                      v-model="ruleForm.Number"
                                                      :rows="6"
                                                      autocomplete="off">
                                            </el-input>

                                        </el-form-item>


                                    </div>


                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">


                                        <el-form-item prop="Name" label="إسم المحاضرة"
                                                      label-width="0px"
                                                      :rules="[{ required: true, message: 'الرحاء إدخال إسم المحاضرة'} ]">

                                            <el-input type="name"
                                                      placeholder="إسم المحاضرة"
                                                      v-model="ruleForm.Name"
                                                      :rows="6"
                                                      autocomplete="off">
                                            </el-input>

                                        </el-form-item>


                                    </div>


                                </div>


                            </el-row>



                            <el-row class="row">

                                <el-col class="col-md-3">

                                    <el-upload class="upload-demo"
                                               action="#"
                                               :on-preview="handlePreview"
                                               :on-remove="handleRemoveImage"
                                               :before-remove="beforeRemove"
                                               multiple
                                               :limit="10"
                                               :on-exceed="handleExceedImage"
                                               :auto-upload="false"
                                               :on-change="ImageChanged"
                                               accept="image/png, image/jpeg">
                                        <el-button size="small" type="danger">إضافة صورة</el-button>

                                    </el-upload>

                                </el-col>
                                <el-col class="col-md-3">

                                    <el-upload class="upload-demo"
                                               action="#"
                                               :on-preview="handlePreview"
                                               :on-remove="handleRemovePDF"
                                               :before-remove="beforeRemove"
                                               multiple
                                               :limit="1"
                                               :on-exceed="handleExceedPDF"
                                               :auto-upload="false"
                                               accept=".pdf"
                                               :on-change="PdfChanged">
                                        <el-button size="small" type="danger">إضافة ملف pdf</el-button>
                                    </el-upload>




                                </el-col>
                                <el-col class="col-md-3">
                                    <el-upload class="upload-demo"
                                               action="#"
                                               :on-preview="handlePreview"
                                               :on-remove="handleRemoveSound"
                                               :before-remove="beforeRemove"
                                               multiple
                                               :limit="1"
                                               :on-exceed="handleExceedSound"
                                               :auto-upload="false"
                                               :on-change="SoundChanged"
                                               accept="audio/*">

                                        <el-button size="small" type="danger">إضافة ملف صوتي</el-button>
                                    </el-upload>

                                </el-col>
                                <el-col class="col-md-3">

                                    <el-upload class="upload-demo"
                                               action="#"
                                               :on-preview="handlePreview"
                                               :on-remove="handleRemoveVedio"
                                               :before-remove="beforeRemove"
                                               multiple
                                               :limit="1"
                                               :on-exceed="handleExceedVedio"
                                               :auto-upload="false"
                                               :on-change="VedioChanged"
                                               accept="video/*">
                                        <el-button size="small" type="danger">إضافة فيديو</el-button>
                                    </el-upload>




                                </el-col>


                       
                            </el-row>


                            <!--Pass / ConfirmPass / PhoneNumber-->
                            <el-row class="row">

                                <el-col class="col-md-12">

                                    <el-form-item prop="decreption" label=" وصف عن المحاضرة"
                                                  label-width="0px"
                                                  :rules="[{required: true, message: ' الرحاء إدخال وصف للمحاضرة'} ]">

                                        <el-input type="textarea"
                                                  :rows="5"
                                                  placeholder=" وصف توضيحي  "
                                                  v-model="ruleForm.decreption">
                                        </el-input>

                                    </el-form-item>
                                </el-col>


                            </el-row>

                            <div class="d-flex justify-content-center">
                                <div class="col-md-2">
                                    <el-button class="btn btn-danger btn-fill pull-right"
                                               type="primary"
                                               @click.prevent="submitForm('ruleForm')">
                                        إضافة المحاضرة

                                    </el-button>
                                </div>
                            </div>

                            <!--<el-row class="row">

        <el-col class="col-md-12">


            <button class="btn btn-info pull-center" @click.prevent="Save('ruleForm')">حفظ</button>
        </el-col>


    </el-row>-->



                        </el-form>

                    </div>

                </div>
            </div>

        </div>


    </div>
</div>


