<div class="content">
    <EditExam v-if="state==1"></EditExam>
    <GridsInfo v-if="state==2"></GridsInfo>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="card">

                <div class="card-header card-header-info">
                    <h4 class="card-title ">إدارة الإختبارات </h4>
                </div>

                <br />
                <br />
                <div class="row" style="margin-right: 0px; margin-left: 0px;">

                    <div class="col-md-3">
                        <el-select v-model="YearSelected"
                                   @change="getEvents()"
                                   style="width:100%"
                                   filterable placeholder="السنة الدراسية ">

                            <el-option v-for="item in Years"
                                       :key="item.acadimecYearId"
                                       :label="item.name"
                                       :value="item.acadimecYearId">
                            </el-option>

                        </el-select>
                    </div>

                    <div class="col-md-3">
                        <el-select v-model="EventSelectd"
                                   filterable
                                   placeholder="الفصل "
                                   style="width:100%"
                                   v-if="YearSelected!=0"
                                   @change="GetExams()">

                            <el-option v-for="item in Events"
                                       :key="item.eventId"
                                       :label="item.eventGroup"
                                       :value="item.eventId">
                            </el-option>

                        </el-select>
                    </div>



                </div>

                <div class="row" v-if="Exams==0">

                    <div class="col-md-10">
                        <div class="form-group">
                            <br /><br />
                            <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات للواجبات الدراسية"
                                      type="info">
                            </el-alert>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <!--Table Info-->
                <div class="row" v-if="Exams!=0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-info">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        إسم الإختبار
                                    </th>
                                    <th>
                                        المادة الدراسية
                                    </th>
                                    <th>
                                        وصف توضيحي
                                    </th>
                                    <th>
                                        الدرجة النهائية
                                    </th>
                                    <th>
                                        تاريخ الإختبار
                                    </th>
                                    <th>
                                        تاريخ الإدراج
                                    </th>
                                    <th style="text-align:left">
                                        العمليات
                                    </th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item,index in Exams">
                                            <td>{{index+1}} </td>
                                            <td>{{item.name }} </td>
                                            <td>{{item.subject }} </td>
                                            <td>{{item.disctiption}}</td>
                                            <td>{{item.fullMarck}}</td>
                                            <td>{{item.examDate | moment}}</td>
                                            <td>{{item.createdOn | moment}}</td>


                                            <td class="td-actions text-left">
                                                <button type="button" rel="tooltip" @click.prevent="GridsInfo(item)" class="btn btn-success btn-link" data-original-title="" title="عرض الدرجات">
                                                    <i class="material-icons">menu</i>
                                                </button>
                                                <button type="button" rel="tooltip" @click.prevent="editExams(item)" class="btn btn-success btn-link" data-original-title="" title="تعديل البيانات">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" @click.prevent="delteExams(item.id)" class="btn btn-danger btn-link" data-original-title="" title="حدف">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-12 col-md-7">
                                        <div class="pull-right">
                                            <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate" style="direction: ltr;">
                                                <div style="text-align: center;">

                                                    <el-pagination background
                                                                   layout="prev, pager, next"
                                                                   :current-page="pageNo"
                                                                   :page-size="pageSize"
                                                                   :total="pages"
                                                                   @current-change="GetStudent($event)">
                                                    </el-pagination>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <div class="pull-left">
                                            <div class="disabled-sorting text-right" id="datatable_info" role="status" aria-live="polite">Showing {{pageNo}} to {{pageSize}} of {{pages}} entries</div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>
