
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">

                <div class="card-header card-header-info">
                    <h4 class="card-title ">تعديل بيانات الواجب الدراسي</h4>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding: 46px;">
                        <el-form :model="selectedHomeWorck" ref="selectedHomeWorck" label-width="100px" class="demo-ruleForm" dir="rtl">

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group">

                                        <label>الإسم </label>


                                        <el-form-item prop="name"
                                                      label-width="0px"
                                                      :rules="[{required: true, message: ' Name Is Requird'} ]">

                                            <el-input type="name"
                                                      placeholder="Name"
                                                      v-model="selectedHomeWorck.name"
                                                      autocomplete="off" />

                                        </el-form-item>

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">

                                        <label>اخر موعد للتسليم </label>


                                        <el-form-item prop="lastDayDilavary"
                                                      label-width="0px"
                                                      :rules="[{required: true, message: ' Date Is Requird'} ]">

                                            <el-date-picker v-model="selectedHomeWorck.lastDayDilavary"
                                                            type="date"
                                                            placeholder="اخر موعد للتسليم">
                                            </el-date-picker>

                                        </el-form-item>

                                    </div>

                                </div>




                            </div>


                            <div class="row">

                                <div class="col-md-12">

                                    <div class="form-group">

                                        <label>وصف توضيحي</label>

                                        <el-form-item prop="disctiption"
                                                      label-width="0px"
                                                      :rules="[{ required: true, message: 'Disctiption Is Requird'} ]">

                                            <el-input type="disctiption"
                                                      placeholder="disctiption"
                                                      v-model="selectedHomeWorck.disctiption"
                                                      :rows="6"
                                                      autocomplete="off">
                                            </el-input>

                                        </el-form-item>


                                    </div>

                                </div>



                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">

                                        <br>
                                        <el-button class="btn btn-danger btn-fill pull-right" type="primary" @click="back()">رجوع</el-button>

                                        <el-button class="btn btn-info btn-fill pull-right" type="primary" @click="submitForm('selectedHomeWorck')">تعديل البيانات</el-button>
                                    </div>

                                </div>
                            </div>

                        </el-form>
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>








