
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">

                <div class="card-header card-header-info">
                    <h4 class="card-title ">إضافة بيانات واجب دراسي</h4>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding: 46px;">
                        <el-form :model="selectedHomeWorck" ref="selectedHomeWorck" label-width="100px" class="demo-ruleForm" dir="rtl">

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group">

                                        <label>السنة الدراسية  </label>


                                        <el-form-item prop="yearId"
                                                      label-width="0px"
                                                      :rules="[{required: true, message: ' Year Is Requird'} ]">

                                            <el-select v-model="selectedHomeWorck.yearId"
                                                       @change="getEvents()"
                                                       style="    width: 100%;"
                                                       filterable placeholder="السنة الدراسية ">

                                                <el-option v-for="item in Years"
                                                           :key="item.acadimecYearId"
                                                           :label="item.name"
                                                           :value="item.acadimecYearId">
                                                </el-option>

                                            </el-select>

                                        </el-form-item>

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">

                                        <label>الفصل  </label>


                                        <el-form-item prop="eventId"
                                                      label-width="0px"
                                                      :rules="[{required: true, message: ' Class Is Requird'} ]">

                                            <el-select v-model="selectedHomeWorck.eventId"
                                                       style="width: 100%;"
                                                       filterable placeholder="الفصل "
                                                       @change="GetStudent()">

                                                <el-option v-for="item in Events"
                                                           :key="item.eventId"
                                                           :label="item.eventGroup"
                                                           :value="item.eventId">
                                                </el-option>

                                            </el-select>

                                        </el-form-item>

                                    </div>

                                </div>


                            </div>

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group">

                                        <label>المادة الدراسية  </label>


                                        <el-form-item prop="studentId"
                                                      label-width="0px"
                                                      :rules="[{required: true, message: ' Student Is Requird'} ]">

                                            <el-select v-model="selectedHomeWorck.studentId"
                                                       style="    width: 100%;"
                                                       filterable placeholder="الطالب ">

                                                <el-option v-for="item in Students"
                                                           :key="item.studentId"
                                                           :label="item.studentName"
                                                           :value="item.studentId">
                                                </el-option>

                                            </el-select>

                                        </el-form-item>

                                    </div>

                                </div>

                                <div class="col-md-6" v-if="selectedHomeWorck.studentId!=0">

                                    <div class="form-group pull-left">

                                        <br />

                                        <div class="form-group UploadButton">

                                            <label for="file-upload" class="btn btn-info btn-round">
                                                <i class="fa fa-cloud-upload" style="color:white"></i> إضافة الصحيفة
                                            </label>
                                            <input accept="image/jpg" @change="FileChanged($event)" id="file-upload" type="file" />
                                        </div>

                                    </div>

                                </div>



                            </div>

                        </el-form>
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>








