<div class="content">
    <div class="container-fluid" >
        <div class="row">
            <div class="card">

                <div class="card-header card-header-info">
                    <h4 class="card-title ">إدارة بيانات الصحائف الشهرية </h4>
                </div>

                <br />
                <br />
                <div class="row" style="margin-right: 7px; margin-left: 0px;">
                    <div class="col-md-3">
                        <form class="navbar-form">
                            <span class="bmd-form-group">
                                <div class="input-group no-border">
                                    <input type="text" v-model="searchItem" class="form-control" placeholder="البحت عن طريق الإسم أو رقم الهاتف ...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon" @click.prevent="serachdegrees()">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </span>
                        </form>
                        
                    </div>

                </div>

                <div class="row" v-if="degrees==0">
                    <div class="col-md-10">
                        <div class="form-group">
                            <br /><br />
                            <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات للواجبات الدراسية"
                                      type="info">
                            </el-alert>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <!--Table Info-->
                <div class="row" v-if="degrees!=0">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-info">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        الإسم
                                    </th>
                                    <th>
                                        رقم الهاتف
                                    </th>
                                    <th>
                                        الصحيفة
                                    </th>
                                    <th>
                                        تاريخ الإدراج
                                    </th>
                                    <th style="text-align:center">
                                        العمليات
                                    </th>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item,index in degrees">
                                            <td>{{index+1}} </td>
                                            <td>{{item.studentName }} </td>
                                            <td>{{item.phone }} </td>
                                            <td><a :href="'http://localhost:4810/Api/Admin/Students/' + item.id + '/image'"><img :src="'http://localhost:4810/Api/Admin/Students/' + item.id + '/image'" style="height: 80px; width:80px" /></a></td>
                                            <td>{{item.createdOn | moment}}</td>


                                            <td class="td-actions text-center">
                                                <button type="button" rel="tooltip" @click.prevent="deltedegrees(item.id)" class="btn btn-danger btn-link" data-original-title="" title="حدف">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-12 col-md-7">
                                        <div class="pull-right">
                                            <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate" style="direction: ltr;">
                                                <div style="text-align: center;">

                                                    <el-pagination background
                                                                   layout="prev, pager, next"
                                                                   :current-page="pageNo"
                                                                   :page-size="pageSize"
                                                                   :total="pages"
                                                                   @current-change="Getdegrees($event)">
                                                    </el-pagination>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <div class="pull-left">
                                            <div class="disabled-sorting text-right" id="datatable_info" role="status" aria-live="polite">Showing {{pageNo}} to {{pageSize}} of {{pages}} entries</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>
