<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">

                <div class="card-header card-header-info">
                    <h4 class="card-title ">إضافة جدول دراسي</h4>
                </div>
                <br />
                <br />
                <br />
                <div class="row" style="margin-right: 0px; margin-left: 0px;">


                </div>
                <br />
                <!--Table Info-->
                <div class="row ">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-info">
                                    <th style="text-align:center">
                                        اليوم
                                    </th>
                                    <th style="text-align:center">
                                        الحصة الأولي
                                    </th>
                                    <th style="text-align:center">
                                        الحصة التانية
                                    </th>
                                    <th style="text-align:center">
                                        الحصة التالتة
                                    </th>
                                    <th style="text-align:center">
                                        الحصة الرابعة
                                    </th>
                                    <th style="text-align:center">
                                        الحصة الخمسة
                                    </th>
                                    <th style="text-align:center">
                                        الحصة السادسة
                                    </th>
                                    <th style="text-align:center">
                                        الحصة السابعة
                                    </th>
                                    </thead>
                                    <tr>
                                        <td>السبت </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[0].subject" disabled 
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">
                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[1].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[2].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[3].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[4].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                               
                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[5].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[6].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                                
                                            </el-input>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>الأحد </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[7].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[8].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[9].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[10].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[11].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[12].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[13].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">
                                            </el-input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>الإتنين </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[14].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[15].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[16].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[17].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[18].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[19].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[20].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>التلاتاء </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[21].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[22].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[23].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[24].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[25].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[26].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[27].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>الإرباء </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[28].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[29].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[30].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[31].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[32].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[33].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[34].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>الخميس </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[35].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[36].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[37].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[38].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[39].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[40].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>
                                        <td>
                                            <el-input v-model="SkedjuleInfo[41].subject" disabled
                                                       filterable
                                                       placeholder="لم يتم الإختيار ">

                                            </el-input>
                                        </td>


                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-md-2">
                        <el-button class="btn btn-danger btn-fill pull-right"
                                   type="primary"
                                   @click="back()">
                            العودة للصفحة السابقة

                        </el-button>
                    </div>
                </div>
                <br />


            </div>

        </div>


    </div>
</div>
