

<div class="app-content" dir="rtl">

    <!--Title-->
    <div class="app-title">

        <div>

            <h1>
                <i class="fa fa-key" style="font-size:25px;margin-left:15px"></i>
                تغير كلمة المرور
            </h1>

        </div>

    </div>

    <div class="row">

        <div class="col-12" style="height: auto">

            <div class="card" style="height: auto">


                <div class="content" style="color:black!important">

                    <form>

                        <div class="row">

                            <div class="col-6">

                                <div class="position-relative form-group">

                                    <label for="email">كلمة المرور الحاليه</label>

                                    <input type="password" v-model="form.Password" placeholder="كلمة المرور الحاليه" class="form-control" />

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-6">

                                <div class="position-relative form-group">

                                    <label for="password">كلمه المرور الجديده</label>

                                    <input type="password" v-model="form.NewPassword" placeholder="كلمة المرور الجديده" class="form-control" />

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-6">

                                <div class="position-relative form-group">

                                    <label>تأكيد كلمه المرور الجديده</label>

                                    <input type="password" class="form-control" placeholder="تأكيد كلمة المرور الجديده" v-model="ConfimPassword">

                                </div>

                            </div>

                        </div>
                        <button class="btn btn-rose pull-right" style="    color: #FFF;
    background-color: #124a84;
    border-color: #48637a;" @click.prevent="Save()">
                            حفظ
                        </button>


                    </form>

                </div>

            </div>

        </div>


    </div>

</div>


