


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">تغيير كلمة المرور</h4>
                        <p class="card-category">
                            هذه الصفحه خاصه بعملية تغيير كلمة المرور
                        </p>
                    </div>

                 
                   
                    <div class="card-body">
                        <div class="table-responsive">
                            <el-form :model="form" :rules="rules" ref="form" label-position="top" label-width="120px" class="demo-ruleForm">
                                <el-form-item label="كلمة المرور الحاليه" prop="Password">
                                    <el-input placeholder="المرور الحاليه" v-model="form.Password" type="password" ></el-input>
                                </el-form-item>
                                <el-form-item label="كلمه المرور الجديده" prop="NewPassword">
                                    <el-input placeholder="كلمة المرور الجديده" v-model="form.NewPassword" type="password"></el-input>
                                </el-form-item>

                                <el-form-item label="تأكيد كلمه المرور" prop="ConfimPassword">
                                    <el-input placeholder="تأكيد كلمه المرور" v-model="form.ConfimPassword" type="password"></el-input>

                                </el-form-item>
                                <div class="card-footer justify-content-center" dir="ltr">

                                    <button class="btn btn-primary pull-right" @click.prevent="Save('form')">حفظ</button>
                                </div>

                            </el-form>
                        </div>

                    </div>
             
                </div>
            </div>
        </div>
    </div>
    </div>