<div class="blog-posts">
    <div class="wrapper">
        <div class="page-header page-header-small header-filter">
            <div class="page-header-image" style="background-image: url('/assets/img/pages/mycourses13.jpg');"> 
            </div>
            <div class="content-center">                    
                <h3 class="text-white">مكتبة المواد الدراسية لدى الطالب</h3>
                <div class="row">
                    <div class="col-md-6">
                        <form method="" action="">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="ni ni-folder-17"></i>
                                            </span>
                                        </div>
                                        <input style="text-align: right; font-size:113%;" type="email" class="form-control" placeholder=".....البحث عن المواد" />
                                    </div>
                                </div>
                                <div>
                                    <button style="font-size:113%;" type="button" class="btn btn-primary">البحث</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button style="font-size:113%;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">التصنيف</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" style="text-align: right; font-size:113%;">رياضيات</a>
                                <a class="dropdown-item" href="#" style="text-align: right; font-size:113%;">علوم</a>
                                <a class="dropdown-item" href="#" style="text-align: right; font-size:113%;">عربي</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" style="text-align: right; font-size:113%;">الكل</a>
                            </div>
                        </div><!-- /btn-group -->
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 pull-right" v-for="x in Subjects">
                        <div class="card card-blog bg-default ">
                            <img class="img pattern rounded" src="/assets/img/ill/p7.svg">
                            <div class="card-body">
                                <h3 class="text-white">{{x.name}}</h3>
                                <p class="lead text-white mt-0">{{x.acadimacName}}</p>
                                <a href="./course?subject=1" class="btn btn-link text-white px-0">عرض الدروس</a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-4 col-md-6">
                        <div class="card card-blog bg-default">
                            <img class="img pattern rounded" src="/assets/img/ill/p22.png">
                            <div class="card-body">
                                <h4 class="text-white">Premium</h4>
                                <p class="lead text-white mt-0">Colors are good, before somebody tells you you shouldn’t like pse that’s for girls.</p>
                                <a href="javascript:;" class="btn btn-link text-white px-0">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-blog bg-default">
                            <img class="img pattern rounded" src="/assets/img/ill/p7.svg">
                            <div class="card-body">
                                <h4 class="text-white">Focus</h4>
                                <p class="lead text-white mt-0">Because it's about motivating the doers. Because I’my dreams and inspire other people.</p>
                                <a href="javascript:;" class="btn btn-link text-white px-0">Read more</a>
                            </div>
                        </div>
                    </div>-->
                </div>

                <div style="text-align: center; margin-top: 10px;">
                    <el-pagination background
                                   layout="prev, pager, next"
                                   :current-page="pageNo"
                                   :page-size="pageSize"
                                   :total="pages"
                                   @current-change="GetMySubjects($event)">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</div>