<div id="content" style="height:100%;">

    <iframe class="video h-75 d-inline-block " :src="lecture.url" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="pt-2 pr-4 pl-4 rtl">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" :class="{'active': tabIndex === 1}" @click="setTabIndex(1)">مرفقات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :class="{'active': tabIndex === 0}" @click="setTabIndex(0)">حول الدرس</a>
            </li>
        </ul>
    </div>
    <div class="card shadow m-3 p-4 mr-4">

        <div class=" pull-right" v-show="tabIndex === 0">
            <h6 class="pull-right">{{lecture.title}}</h6>
            <br />
            <br />
            <h5 class="pull-right">يحتوي هذا الدرس على المعلومات المفيدة</h5>
        </div>

        <div class="card pull-right" v-show="tabIndex === 1">

            <a type="button" class="btn btn-primary btn-lg btn-block text-white" :href="lecture.fileUrl" download>
                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95 pr-4"></i></span>
                <span class="btn-inner--text">تحميل ملف هذا الدرس</span>
            </a>

        </div>
    </div>
</div>