<div>

    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>

    <aside class="app-sidebar">

        <!--USER INFO-->
        <div class="app-sidebar__user">

            <img class="app-sidebar__user-avatar"
                 style="height:50px;"
                 alt="User Image"
                 :src="'http://localhost:4810/Api/Admin/User/' + loginDetails.userId + '/image'" />

            <div>

                <p class="app-sidebar__user-name">{{loginDetails.fullName.slice(0,20)}}</p>

                <p class="app-sidebar__user-designation" v-if="loginDetails.userType==1">مدير النظام</p>

                <p class="app-sidebar__user-designation" v-if="loginDetails.userType==2">موظف</p>


            </div>
           


        </div>

        <!--NEW MESSSAGE-->
        <div align="center" style="padding:10px">
            
            <el-button type="success"
                       @click.prevent="href('NewMessage')"
                       href="bootstrap-components.html"
                       icon="el-icon-plus"
                       round style="background-color: rgb(40, 114, 206);
                       border-top: 4px solid rgb(39, 40, 40);
                       border-right: none;
                       border-bottom: 4px solid rgb(33, 36, 35);
                       border-left: none;
                       border-image: initial;
                       outline: none;"> 
                        
                        انشاء رسالة 
            </el-button>
        
        </div>

        <!--MENU-->
        <ul class="app-menu">

            <li @click="active = 1" :class="{'active':1 == active}">

                <a class="app-menu__item " href="#" @click.prevent="href('/')">

                    <i class="app-menu__icon fa fa-dashboard"></i>

                    <span class="app-menu__label">

                        الصفحة الرئيسية

                    </span>

                </a>

            </li>

            <li @click="active = 2" :class="{'active':2 == active}">

                <a class="app-menu__item " href="#" @click.prevent="href('/Inbox')">

                    <i class="app-menu__icon fa fa-inbox"></i>

                    <span class="app-menu__label">

                        صندوق الوارد

                    </span>

                    <span class="badge badge-danger pull-left">2</span>

                </a>

            </li>

            <li @click="active = 3" :class="{'active':3 == active}">

                <a class="app-menu__item" href="" @click.prevent="href('/Sent')">

                    <i class="app-menu__icon fa fa-inbox"></i>

                    <span class="app-menu__label">

                        صندوق المرسل

                    </span>


                </a>

            </li>

            <li @click="active = 4" :class="{'active':4 == active}">

                <a class="app-menu__item" @click.prevent="href('/AdTypes')" href="">

                    <i class="app-menu__icon fa fa-envelope-o"></i>
                    <span class="app-menu__label">

                        نوع الرسالة

                    </span>
                    
                </a>

            </li>

            <li @click="active = 5" :class="{'active':5 == active}" v-if="loginDetails.userType==1">

                <a class="app-menu__item" @click.prevent="href('/Branches')" href="">

                    <i class="app-menu__icon pe-7s-settings"></i>
                  
                    <span class="app-menu__label">

                        إدارة المكاتب

                    </span>
                </a>

            </li>

            <li @click="active = 6" :class="{'active':6 == active}" v-if="loginDetails.userType==1">

                <a @click.prevent="href('/Users')" class="app-menu__item" href="">

                    <i class="app-menu__icon fa fa-users"></i>
                    <span class="app-menu__label">

                        إدارة المستخدمين

                    </span>
               
                </a>

            </li>
            <!--<li class="treeview">

        <a class="app-menu__item" href="" data-toggle="treeview">

            <i class="app-menu__icon fa fa-location-arrow"></i>

            <span class="app-menu__label">
                إدارة النظام
            </span>

            <i class="treeview-indicator fa fa-angle-right"></i>

        </a>

        <ul class="treeview-menu">

            <li @click="active = 4" :class="{'active':4 == active}">

                <a class="treeview-item" @click.prevent="href('/AdTypes')" href="">

                    <i class="icon fa fa-circle-t"></i>
                    نوع الرسالة
                </a>

            </li>

            <li @click="active = 5" :class="{'active':5 == active}">

                <a class="treeview-item" @click.prevent="href('/Branches')" href="">

                    <i class="icon fa fa-circle-o"></i>
                    إدارة المكاتب
                </a>

            </li>

            <li @click="active = 6" :class="{'active':6 == active}">

                <a @click.prevent="href('/Users')" class="treeview-item" href="">

                    <i class="icon fa fa-circle-o"></i>
                    إدارة المستخدمين
                </a>

            </li>

        </ul>

    </li>-->

        </ul>

    </aside>

</div>
