<div class="sidebar" data-color="purple" data-background-color="white" data-image="/img/img/sidebar.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="" class="simple-text logo-normal">
            نـظام التــعميم
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            <li :class="menuFlag[0]">
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p> الصفحة الرئيسية</p>
                </a>
            </li>

            <li :class="menuFlag[1]">
                <a class="nav-link" href="#" @click.prevent="href('/Branches',1)">
                    <i class="fa fa-cogs"></i>

                    <p>‌إدارة المكاتب</p>
                </a>
            </li>
            <li :class="menuFlag[4]">
                <a class="nav-link" href="#" @click.prevent="href('/NewMessage',6)">
                    <i class="fa fa-envelope"></i>
                    <p>ارسال رسالة</p>
                </a>
            </li>
            <li :class="menuFlag[2]">
                <a class="nav-link" href="#" @click.prevent="href('/Branches',2)">
                    <i class="fa fa-inbox"></i>
                    <p>صندوق الوارد</p>
                </a>
            </li>
            <li :class="menuFlag[3]">
                <a class="nav-link" href="#" @click.prevent="href('/Branches',3)">
                    <i class="material-icons">content_paste</i>
                    <p>صندوق المرسل</p>
                </a>
            </li>
            <li :class="menuFlag[4]">
                <a class="nav-link" href="#" @click.prevent="href('/Branches',4)">
                    <i class="material-icons">library_books</i>
                    <p>نوع الرسالة</p>
                </a>
            </li>


            <li :class="menuFlag[5]">
                <a class="nav-link" href="#" @click.prevent="href('/Users',5)">
                    <i class="fa fa-users"></i>
                    <p>
                        إدارة المستخدمين
                    </p>
                </a>
            </li>

        </ul>
    </div>
</div>
