<div class="content">
    <MassageDetals v-if="state==1"></MassageDetals>
    <div class="container-fluid" v-if="state==0">

        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-primary">

                        <h4 class="card-title ">مراقبه الرسائل </h4>

                        <p class="card-category"> مراقبه الرسائل </p>

                    </div>

                    <div class="row">

                        <div class="col-md-10">

                            <div class="form-group" v-if="Massages==0">

                                <br /><br />

                                <el-alert style="font-size: 35px;" title="ليس لديك أي رسائل  "
                                          type="info">
                                </el-alert>

                            </div>

                        </div>

                    </div>
         
                    <div class="card-body" v-if="Massages!=0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>
                                    المرسل
                                </th>
                                <th>
                                    الي
                                </th>
                                <th>
                                    الاهميه
                                </th>
                                <th>
                                    العنوان
                                </th>
                                <th>
                                    نوع الرساله
                                </th>
                                <th></th>
                                <th></th>
                                <th>
                                    التوقيت
                                </th>
                                </thead>
                                <tbody>


                                    <tr class="TableRow" v-for="massages,index in Massages">


                                        <td>
                                            <a href="#" @click.prevent="MassageDetals(massages)">
                                                <i>{{massages.sent[0].name}}</i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" @click.prevent="MassageDetals(massages)" v-for="Received in massages.sent.filter(item => item.sentBy != item.recivedBy)">
                                                <i>{{Received.fullName}}</i><br />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" @click.prevent="MassageDetals(massages)">
                                                <i><span class="badge badge-info">{{massages.priolti}}</span></i>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="#" @click.prevent="MassageDetals(massages)">
                                                <i>{{massages.subject}}</i>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="#" @click.prevent="MassageDetals(massages)">
                                                <i>{{massages.adType}}</i>
                                            </a>
                                        </td>

                                        <td></td>
                                        <td></td>



                                        <td>
                                            <a href="#" @click.prevent="MassageDetals(massages)">
                                                <i>{{massages.createdOn | moment}}</i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetMassages($event)">
                                </el-pagination>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

