



    <div class="content" dir="rtl">
        <message-Display v-if="state==2" :ConversationId="conversationId"></message-Display>
    

        <div class="container-fluid" v-if="state==1">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">عــرض بيانات صندوق المرسل</h4>
                            <p class="card-category"> هذه الصفحه خاصه بعرض الرسائل المرسلة</p>
                        </div>
                        <div class="row">

                            <div class="col-md-10">
                                <div class="form-group" v-if="sent==0">
                                    <br /><br />
                                    <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات لأنواع الرسائل"
                                              type="info">
                                    </el-alert>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" v-if="sent!=0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>

                                        <template v-for="(item,index) in sent">
                                            <tr style="cursor:none">
                                                <td class="inbox-small-cells " style="min-width:20px;max-width:20px;cursor:pointer">
                                                    <i class="fa fa-star" :plain="true" v-bind:class="{'inbox-started':item.isFavorate}" @click="IsFavorateMethod(item,index)"></i>
                                                </td>
                                                <td class="inbox-small-cells" style="min-width:60px;max-width:80px;">
                                                    <span class="">{{item.dateConversation}}</span>
                                                </td>
                                                <td class="view-message  dont-show" style="cursor:pointer" v-on:click="RedirectToMessageDisplay(item.conversationID)">{{item.userName}}</td>
                                                <td><span class="badge badge-danger">{{item.priolti}}</span></td>

                                                <td class="view-message" style="min-width:120px;cursor:pointer" v-on:click="RedirectToMessageDisplay(item.conversationID)"> {{item.lastSubjectBody}}</td>
                                                <td style="min-width:50px;max-width:50px;cursor:pointer" v-on:click="RedirectToMessageDisplay(item.conversationID)">
                                                    <span class="badge badge-success" v-if="item.messageCountNotRead>0" style="word-spacing:2px;">
                                                        {{item.messageCountNotRead}}
                                                        <span style="letter-spacing:2px">ردود</span>
                                                    </span>
                                                </td>
                                                <td class="view-message  inbox-small-cells">
                                                    <i class="fa" v-bind:class=" {'fa-paperclip':item.isAttachment}"></i>
                                                </td>

                                                <td class="view-message  text-right" style="min-width:20px;max-width:20px;">
                                                    <a href="#" v-on:click="DeleteInbox(index,item)">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                                <td class="view-message text-right" style="min-width:20px;max-width:20px;">
                                                    <a href="#" v-on:click="ArchaveInbox(index,item)">
                                                        <i class="fa fa-archive"></i>
                                                    </a>
                                                </td>


                                            </tr>
                                        </template>

                                    </tbody>
                                </table>

                                <div style="text-align: center; margin-top: 10px;">
                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="getPagintion($event)">
                                    </el-pagination>

                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>