
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">تعديل الملف الشخصي</h4>
                        <p class="card-category">
                            هذه الصفحه خاصه بالعملية تعديل الملف الشخصي
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-position="top" label-width="120px" class="demo-ruleForm">

                                <el-row class="row">
                                    <el-col class="col-md-6">



                                        <el-form-item label="الاسم التلاثي" prop="FullName">
                                            <el-input placeholder="الاسم التلاثي" v-model="ruleForm.FullName"></el-input>
                                        </el-form-item>


                                    </el-col>

                                    <el-col class="col-md-6">




                                        <el-form-item label="اسم الدخول" prop="LoginName">
                                            <el-input placeholder="اسم الدخول" v-model="ruleForm.LoginName"></el-input>
                                        </el-form-item>


                                    </el-col>

                                </el-row>

                                <el-row class="row">
                                    <el-col class="col-md-4">


                                        <el-form-item label="البريد الإلكتروني" prop="Email">
                                            <el-input placeholder="البريد الإلكتروني" v-model="ruleForm.Email"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col class="col-md-4">

                                        <el-form-item label="تاريخ الميلاد" prop="DateOfBirth">
                                            <el-date-picker v-model="ruleForm.DateOfBirth"
                                                            type="date"
                                                            placeholder="تاريخ الميلاد">
                                            </el-date-picker>

                                        </el-form-item>


                                    </el-col>
                                    <el-col class="col-md-4">


                                        <el-form-item label="رقم الهاتف" prop="Phone">
                                            <el-input placeholder="رقم الهاتف" v-model="ruleForm.Phone"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                                <el-row class="row">
                                    <el-col class="col-md-6">
                                        <el-form-item label="الجنس" prop="Gender">
                                            <el-select style="width: 100%;" v-model="ruleForm.Gender" filterable placeholder="الجنس">

                                                <el-option v-for="item in [{id:1,Gender:'ذكـر'},{id:2,Gender:'انـثي'}]"
                                                           :key="item.id"
                                                           :label="item.Gender"
                                                           :value="item.id">
                                                </el-option>

                                            </el-select>

                                        </el-form-item>
                                    </el-col>
                                    <el-col class="col-md-6">
                                        <el-form-item label="الصلاحيه" prop="UserType">
                                            <el-input disabled placeholder="الصلاحيه" v-model="ruleForm.UserType"></el-input>
                                        </el-form-item>


                                    </el-col>
                                </el-row>

                                <br />
                                <br />

                            
                                <div class="tile-footer">
                             
                                    <button class="btn btn-primary pull-right" @click.prevent="Save('ruleForm')">حفظ</button>
                                </div>
                                <div class="clearfix"></div>
                            </el-form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">

                            <img class="img" :src="'http://localhost:4810/Api/Admin/User/' + loginDetails.userId + '/image'" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="title"> {{loginDetails.fullName}}</h5>

                        <h4 class="card-title">{{loginDetails.loginName}}</h4>
                    </div><p class="description text-center" v-if="loginDetails.userType==1">الـمستخدم {{loginDetails.loginName}} لديه صلاحيات الادارة بالكامل</p>
                 
                    <p class="description text-center" v-if="loginDetails.userType==2">
                        الـمستخدم {{loginDetails.loginName}} لديه صلاحيات

                        "{{loginDetails.brancheName}}"
                    </p>
                    <br />
                    <br />
                    <br />


                    <div class="form-group UploadButton">
                        <label for="file-upload" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> تـغير الصورة
                        </label>
                        <input accept="image/jpg" @change="FileChanged($event)" id="file-upload" type="file" />
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>