<div class="content" >
    <div class="container-fluid">
        <div class="row">
            <div class="card">

                <div class="card-header card-header-info">
                    <h4 class="card-title ">إدارة بيانات الحصور و الإنصراف</h4>
                </div>
                <br />
                <br />
                <br />
                <div class="row" style="margin-right: 0px; margin-left: 0px;" v-if="selectedPresness!=0">

                    <div class="col-md-2"></div>

                    <div class="col-md-3">
                        <span class="demonstration">السنة الدراسية</span>
                        <el-input type="firstName"
                                  placeholder="السنة الدراسية"
                                  v-model="selectedPresness.year"
                                  disabled
                                  autocomplete="off" />
                    </div>

                    <div class="col-md-3">
                        <span class="demonstration">الفصل الدراسي</span>
                        <el-input type="firstName"
                                  placeholder="الفصل الدراسي"
                                  v-model="selectedPresness.eventGroup"
                                  disabled
                                  autocomplete="off" />
                    </div>

                    <div class="col-md-3">
                        <div class="block">
                            <span class="demonstration">تاريخ المحاضرة</span>
                            <el-date-picker v-model="selectedPresness.lectureDate"
                                            type="date" disabled
                                            placeholder="تاريخ المحاضرة">
                            </el-date-picker>
                        </div>
                    </div>



                </div>

                <div class="row" v-if="selectedPresness==0">

                    <div class="col-md-10">
                        <div class="form-group">
                            <br /><br />
                            <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات للحضور والإنصراف"
                                      type="info">
                            </el-alert>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <!--Table Info-->
                <div class="row " v-if="student!=0">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-info">
                                    <th style="text-align:center">
                                        #
                                    </th>
                                    <th style="text-align:center">
                                        الإسم
                                    </th>
                                    <th style="text-align:center">
                                        الحالة
                                    </th>
                                    </thead>
                                    <tbody style="text-align:center">
                                        <tr v-for="item,index in student">
                                            <td>{{index+1}} </td>
                                            <td>{{item.name}} </td>
                                            <td v-if="item.status==0"><span class="badge badge-pill badge-danger">غياب</span></td>
                                            <td v-if="item.status==1"><span class="badge badge-pill badge-success">حضور</span></td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="d-flex justify-content-center">
                    <div class="col-md-2">
                        <el-button class="btn btn-warning btn-fill pull-right"
                                   type="primary"
                                   @click="back()"
                                   v-if="Students!=0">
                            رجوع

                        </el-button>
                    </div>
                </div>
                <br />
                <br />


            </div>

        </div>


    </div>
</div>
