

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">نشر الإعلانات للمستخدمين </h4>
                            <p class="card-category"> يتم إضهار الإعلانات الي جميع المستخدمين  </p>
                        </div>


                        <div class="card-body">
                            <div class="table-responsive">
                                <el-form :model="ruleForm"  ref="ruleForm" label-position="top" label-width="120px" class="demo-ruleForm">
                                    <br />
                                    <!--Email / Gender / DateOfBirth-->
                                    <el-row class="row">


                                        <el-col class="col-md-4">


                                            <el-form-item prop="status" label="نوع الإعلان"
                                                          label-width="0px"
                                                          :rules="[{required: true, message: ' الرجاء إختيار توع الإعلان'} ]">

                                                <el-select v-model="ruleForm.status"
                                                           style="    width: 100%;"
                                                           filterable placeholder="نوع الإعلان ">

                                                    <el-option v-for="item in type"
                                                               :key="item.id"
                                                               :label="item.name"
                                                               :value="item.id">
                                                    </el-option>

                                                </el-select>

                                            </el-form-item>


                                        </el-col>

                                        <el-col class="col-md-8">


                                            <div class="form-group UploadButton pull-left" style="margin-top:19px">

                                                <label for="file-upload" class="btn btn-danger btn-round">
                                                    <i class="fa fa-cloud-upload" style="color:white"></i> إضافة صورة
                                                </label>
                                                <input accept="image/jpg" @change="FileChanged($event)" id="file-upload" type="file" />
                                            </div>


                                        </el-col>

                                        


                                    </el-row>

                                    <el-row class="row">

                                        <div class="col-md-12">

                                            <div class="form-group">


                                                <el-form-item prop="subject" label="الموضوغ" 
                                                              label-width="0px"
                                                              :rules="[{ required: true, message: 'الرحاء إدخال الموضوغ'} ]">

                                                    <el-input type="name"
                                                              placeholder="الموضوغ"
                                                              v-model="ruleForm.subject"
                                                              :rows="6"
                                                              autocomplete="off">
                                                    </el-input>

                                                </el-form-item>


                                            </div>

                                        </div>
                                    </el-row>



                                    <!--Pass / ConfirmPass / PhoneNumber-->
                                    <el-row class="row">

                                        <el-col class="col-md-12">

                                            <el-form-item prop="post" label=" الإعلان" 
                                                          label-width="0px"
                                                          :rules="[{required: true, message: ' الرحاء إدخال الإعلان'} ]">
                                               
                                                <el-input type="textarea"
                                                          :rows="5"
                                                          placeholder=" الإعلان "
                                                          v-model="ruleForm.post">
                                                </el-input>

                                            </el-form-item>
                                        </el-col>


                                    </el-row>

                                    <div class="d-flex justify-content-center">
                                        <div class="col-md-2">
                                            <el-button class="btn btn-danger btn-fill pull-right"
                                                       type="primary"
                                                       @click.prevent="submitForm('ruleForm')">
                                                نشر الإعلان

                                            </el-button>
                                        </div>
                                    </div>

                                    <!--<el-row class="row">

        <el-col class="col-md-12">


            <button class="btn btn-info pull-center" @click.prevent="Save('ruleForm')">حفظ</button>
        </el-col>


    </el-row>-->



                                </el-form>

                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>


