<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">تعديـل بيانات نـوع الرسالة</h4>
                <p class="card-category"> هذه الصفحه خاصه بالعمليات علي نـوع الرسالة من عرض واضافه وتعديل</p>
            </div>


            <div class="card-body">
                <div class="table-responsive">
                    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-position="top" label-width="120px" class="demo-ruleForm">
                        <el-form-item label="نـوع الرسالة" prop="Name">
                            <el-input placeholder="نـوع الرسالة" v-model="ruleForm.Name"></el-input>
                        </el-form-item>
                        <el-form-item label="معــلومات" prop="Description">
                            <el-input type="textarea" placeholder="معــلومات" v-model="ruleForm.Description"></el-input>
                        </el-form-item>

                        <div class="tile-footer">
                            <button class="btn btn-danger" @click.prevent="Back()">رجوع</button>
                            <button class="btn btn-primary" @click.prevent="submitForm('ruleForm')">تـعديل</button>
                        </div>
                    </el-form>
                </div>
            </div>
        </div>
    </div>

</div>


