


#navbar-main {
    height: 133px;
}

<<<<<<< HEAD
=======
.el-message__content {
    font-size: 19px;
    font-weight: bold;
}

.presentation-page section {
    padding: 0px 0!important;
}

>>>>>>> 86d22e16ecdd7f058025f6d08c23e02cde4b0c73
