.el-dialog {
    height: 450px!important;
}

.el-alert__title {
    font-size: 19px;
    font-weight: bold;
}

.mail-box {
    width: 110%;
}
.pointer {
    cursor: pointer !important;
}

#navbar-main {
    height: 133px;
}

.el-message__content {
    font-size: 19px;
    font-weight: bold;
}

.presentation-page section {
    padding: 0px 0 !important;
}

.el-form{
    text-align:right;
}

/*.el-form-item__error {
    right: 0;
}*/

.el-form-item__label {
    padding: 0 0 0px!important;
}

@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('fonts/DroidKufi-Regular.eot') format('embedded-opentype'), url('fonts/DroidKufi-Regular.woff') format('woff'), url('fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#SignUp {
    font-family: 'DroidArabicKufiRegular'!important;
}

span {
    font-family: 'DroidArabicKufiRegular' !important;
}