<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">face</i>
                        </div>
                        <p class="card-category">عدد الطلبة</p>
                        <br />
                        <h3 class="card-title">
                            {{Detals.studentCount}}<span class="small"> طالب </span>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">archive</i>
                        </div>
                        <p class="card-category">الواجبات الدراسية</p>
                        <br />

                        <h3 class="card-title">{{Detals.homeWorckCount}} <span class="small"> واجب دراسي </span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">description</i>
                        </div>
                        <p class="card-category">الإختبارات</p>
                        <br />
                        <h3 class="card-title">{{Detals.examCount}} <span class="small"> اختبار </span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <p class="card-category">أولياء الأمور</p>
                        <br />
                        <h3 class="card-title">{{Detals.parentsCount}} <span class="small"> ولي امر </span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">اخر الطلبة المضافين </h4>
                        <p class="card-category">قائمة بأخر طلبة تمت إضافتهم للنظام  </p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-info">
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                الإسم
                                            </th>
                                            <th>
                                                رقم الهاتف
                                            </th>
                                            <th>
                                                عدد الحضور
                                            </th>
                                            <th>
                                                عدد الغياب
                                            </th>

                                            </thead>
                                            <tbody>
                                                <tr v-for="item,index in Detals.lastSudent">
                                                    <td>{{index+1}} </td>
                                                    <td>{{item.code }} </td>
                                                    <td>{{item.phoneNumber}}</td>
                                                    <td>{{item.phoneNumber}}</td>
                                                    <td>{{item.phoneNumber}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr />


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">المواد الدراسية </h4>
                        <p class="card-category">أنواع المواد الدراسية المتوفرة داخل النظام </p>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">أنواع الباقات </h4>
                        <p class="card-category">أنواع الباقات المتوفرة داخل النظام </p>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">السنوات الدراسية  </h4>
                        <p class="card-category">أنواع السنوات الدراسية المتوفرة داخل النظام </p>
                       </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

    </div>

</div>