<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <p class="card-category">الرسائل</p>
                        <br />
                        <h3 class="card-title">
                            {{Massages}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">archive</i>
                        </div>
                        <p class="card-category">الإرشيف</p>
                        <br />

                        <h3 class="card-title">{{ArchiveMassages}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">delete_outline</i>
                        </div>
                        <p class="card-category">سلة المهملات</p>
                        <br />
                        <h3 class="card-title">{{DeleteMassages}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">dynamic_feed</i>
                        </div>
                        <p class="card-category">أنواع الرسائل</p>
                        <br />
                        <h3 class="card-title">{{MessageTypes}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">أنواع الرسائل </h4>
                        <p class="card-category">أنواع الرسائل المتوفرة داخل النظام </p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>ترقيم</th>
                            <th>الإسم</th>
                            <th>معلومات</th>
                            <th>تاريخ الإنشاء</th>
                            </thead>
                            <tbody>
                                <tr v-for="msg,index in MessageType">
                                    <td>{{index+1}}</td>
                                    <td>{{msg.name}}</td>
                                    <td dir="ltr">{{msg.description}}</td>
                                    <td dir="ltr">{{msg.createdOn | moment}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>