<div>

    <!--Title-->
    <div class="app-title">

        <h1>
            <i class="fa fa-edit" style="font-size:25px;margin-left:15px"></i>
            تعديل الادارة / الفرع
        </h1>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="card">

                <!--Sub Title-->
                <div class="card-header card-header-primary card-header-icon">

                    <h1 style="margin-top:10px">

                        <i class="fa fa-list" dir="rtl" style="font-size:25px;margin-left:10px;"></i>
                        بيانات الادارة / الفرع

                    </h1>

                </div>

                <!--Content-->
                <div class="content" style="color:black!important">

                    <form>
                        <!--Name Branch/Mangment-->
                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">

                                    <label for="exampleInputEmail1">اسم الادارة/ الفرع</label>

                                    <input class="form-control" v-model="form.Name" id="exampleInputEmail1" type="text" placeholder="اسم المكتب">

                                </div>

                            </div>

                        </div>

                        <!--Description-->
                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">

                                    <label for="exampleTextarea">معــلومات</label>
                                    
                                    <textarea placeholder="معــلومات" class="form-control" v-model="form.Description" id="exampleTextarea" rows="3"></textarea>

                                </div>

                            </div>

                        </div>

                        <!--Add / Back-->
                        <div class="tile-footer" style="margin-right: 50%;">

                            <button class="btn btn-primary" type="submit" @click.prevent="Edit()">حفظ</button>
                            
                            <button class="btn btn-danger" type="submit" @click.prevent="Back()">رجوع</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
